UnityProject/Library
UnityProject/Temp
UnityProject/Release
UnityProject/Assembly-CSharp-Editor-vs.csproj
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp-vs.csproj
UnityProject/Assembly-CSharp.csproj
UnityProject/UnityProject-csharp.sln
UnityProject/UnityProject.sln
UnityProject/UnityProject.userprefs
